.filters {
    padding: 10px;
}

.filters__label {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.filters__selector {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(206, 165, 165);
    margin: 10px;
}