.products__wrapper {
    height: 60px;
    background-color: rgb(123, 123, 189);
    height: 60px;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px;

}

.products {
    color: white;
    margin-left: 50px;
}

img {
    width: 50px;
}