.product__detail,
.product__search__n {
    background-color: rgb(239, 242, 241);
    padding: 10px;
    margin: 10px;
}

.product__name {
    font-weight: bold;
}

.product__body {
    color: rgb(116, 116, 116);
}

.product__other {
    color: rgb(38, 145, 177);
}

.product__search__n {
    background-color: rgb(181, 43, 19);
    display: inline-block;
}